*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.page-actions-cont{
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action{
    margin:0.5rem;
    color: #f1f2f6;
    font-family: sans-serif;
}



.cellprop-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-cont > *{
    /*be default inline hota hai, but uneditable hota hai. Isliye inline-block use kiye hai*/
    display: inline-block;
    margin: 0.5rem;
}
.cellprop-actions-cont > select{
    border: none;
    outline: none;
    border-radius: 2px;
}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.2rem;
}



.formula-actions-cont{
    height: 2rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.formula-actions-cont > *{
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-actions-cont > input{
    border: none;
    outline: none;
    height: 70%;
}
.formula-icon{
    width: 1.3rem;
}
.address-bar{
    width: 5rem;
    text-align: center;
}
.formula-bar{
    width: calc(100vw - 1.3rem - 5rem - 0.7rem - 0.7rem - 0.7rem);
}




.grid-cont{
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;   
    overflow: scroll;
    background-color: #ecf0f1;
}
.top-left-dummy-box{
    height: 2rem;
    width: 2rem;
    background-color: #747d8c;
    position: fixed;
    z-index: 1;/*to use z-index, using the position property is mandatory*/ 
}
.address-col-cont{/*parent div containing row numbers*/ 
    width: 2rem;
    position: sticky;
    left: 0;
    top: 2rem;
}
.address-row-cont{/*parent div containing col alphabets*/ 
    height: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}
.cells-cont{/*the whole parent div iside grid-cont container except the dummy cell and row count*/
    position: absolute;
    top: 0;
    left: 2rem;
}
.address-col{/*1,2,3.4....*/
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #dfe4ea;
}
.address-row{/*A,B,C,D....*/
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.row-cont{/* the cells are inside this */
    display: flex;
}
.cell{
    width: 5rem;
    height: 2rem;
    border: 1px solid #dfe4ea;
    outline: none;
}



.sheet-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;/*gap between elements*/
}
.sheet-actions-cont > *{
    display: inline-block;
}
.sheet-add-icon{
    width: 2vw;
}
.sheets-folder-cont{
    /* background-color: yellow; */
    height: 80%;
    width: calc(100vw - 2vw);
    display: flex;
    align-items: center;
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 2px;
    font-size: 0.9rem;
}


